body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
}
.image-container {
    position: relative;
}
.text-in-img {
    display: grid;
    gap: 10px;
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
img {
<<<<<<< HEAD
    width: 100%; 
    max-height: auto;
    filter: brightness(50%);
=======
width: 90%; 
margin: 0px 5%;
max-height: auto;
filter: brightness(50%);
>>>>>>> 6a9e7cf72e6096afbffaf3f57264ffe20463a826
}
.welcome {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    padding: 0px; 
    gap: 39px; 
    width: 728px; 
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    color: white;
    font-size: 50px;
    margin: 0px auto;
}
.text {
    display: flex; 
    flex-direction: column; 
    text-align: center; 
    padding: 0px; 
    gap: 39px; 
    position: absolute; 
    width: 728px; 
    height: 30%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family:'Courier New', Courier, monospace; 
    color: white;
    font-size: 25px;
}
div {
    width: 100%;
    gap: 30px;
}
.paragrah {
    width: 80%;
    height: fit-content;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #36384E;
    flex: none;
    order: 0;
    flex-grow: 0;
}
button {
    width: 200px;
    padding: 16px 20px; 
    background-color: #E6B300;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    border: 0;
    display: block !important;
    margin: 0 auto !important;
}
.subscribe {
    width: 80%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 20px;
    display: flex;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    text-align: center;
    margin: 0 auto;    
}