footer {
    background-color: #36384e;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    text-align: center;
    width: 30%;
    color: white;
    margin: 0 auto;
}

h2 {
    padding-top: 2.5%;
    margin-top: 3% !important;
    text-align: center;
    color: white !important;
    margin-bottom: 1% !important;
}

.col-sm-4 {
    margin: 0 auto;
}

#email {
    height: 50px;
    margin-bottom: 2%;
    border-radius: 0 !important;
}

.form-group .form-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.check {
    margin-top: 1.3%;
    color: white;
    margin-bottom: 2% !important;
}

.btn-default {
    display: block !important;
    margin: 0 auto !important;
    border-radius: 0 !important;
    background-color: #a09c94;
    color: white;
    width: 10%;
    margin-bottom: 2%;
}

/* line adjustments */

hr {
    border: none;
    height: 0.5px !important;
    background-color: white !important;
    width: 80%;
    margin: 20px auto;
}

/* social media icons */

.fa {
    margin-top: 0.5% !important;
    width: 30px;
    height: 30px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    margin: 5px 10px;
    font-size: 30px !important;
}

.socialmedia {
    text-align: center;
}

.fa-facebook {
    background: white;
    color: #36384e;
    border-radius: 50%;
}

.fa-instagram {
    background: #36384e;
    color: white;
}

.fa-twitter {
    background: #36384e;
    color: white;
}

.fa-linkedin {
    background: white;
    color: #36384e;
    border-radius: 20%;
}

/* social media icons end */

.links {
    margin-top: 0.5%;
    display: flex;
    justify-content: center;
    gap: 3.5%;
    margin-bottom: 2%;
}

.links a {
    color: white;
}

/* last paragraph will have some space under it */

.end {
    padding-bottom: 0.8%;
}