.topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.topnav a{
   color: black;
   margin: 0 100px;
   text-decoration: none;
}


.button1 {
    background-color: white;
    border: none;
    font-size: 15px;
}

.button2 {
    background-color: rgb(255, 172, 29);
    border: none;
    font-size: 15px;
}

.nav-center {
    display: flex;
    gap: 100px;
}

.nav-center a {
  margin: 0;     
  padding: 0 5px;  
}

.nav-right {
    display: flex;
    gap: 10px;
}